.main{
    border: 2px black solid;
    width: 26%;
    border-radius: 54px;
    height: 511px;
    position: absolute;
    left: 34%;
    top: 17%;
    background-image: linear-gradient(180deg, rgba(74, 73, 80, 1) 8%, rgba(46, 45, 49, 0.3799999952316284) 100%);
    display: grid;
}
.thankYou{
   
    top: 25px;
    left: 32px;
    position: absolute;
    background-color: #1c1b1d;
}
.mainText{
    position: absolute;
    bottom: 33%;
    /* text-align-last: center; */
    color: white;
    height: 44%;
   
}
.mainText h1{
    text-align: center;
}
.mainText p{
    /* background-color: #1c1b1d; */
    padding-left: 22px;
}
.picBack{
    background-color: #1c1b1d;
    width: 42px;
    height: 36px;
    position: absolute;
    left: 19px;
    top: 14px;
    border-radius: 30px;
}
.backGround{
    position: absolute;
    bottom: 150px;
    display: grid;
    place-items: center;
    grid-template-columns: 60px 60px 60px 60px 56px;
    left: 27px;
}

.submitButton{
    position: absolute;
    bottom: 12%;
    width: 69%;
    place-self: center;
    height: 6vh;
    border-radius: 21px;
    background-color: hsl(25, 97%, 53%);
    color: white;
}
.submitButton:hover{
    cursor: pointer;
    background-color: white;
    color:  hsl(25, 97%, 53%);
}
.numberTag{
    color: #8f8f8f;
    left: 40.5px;
}

.imgCurser:hover{
    cursor: pointer;
    background-color: yellow;
    color: white;
}

.imgCurser{
    background-color: rgb(79, 78, 78);
    width: 48px;
    height: 41px;
    border-radius: 61px;
    text-align-last: center;
    color: #8f8f8f;
}