body{
  background-color: hsl(216, 12%, 8%);;
}
.desktop122-desktop122 {
    width: 1440px;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: transparent;
    background-color: rgba(28, 27, 29, 1);
  }
  .desktop122-main-container212 {
    top: 295px;
    left: 500px;
    width: 440px;
    height: 433px;
    display: flex;
    position: absolute;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .desktop122-image {
    top: 0px;
    left: 0px;
    width: 440px;
    height: 433px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 48px;
    background-image: linear-gradient(180deg, rgba(74, 73, 80, 1) 8%, rgba(46, 45, 49, 0.3799999952316284) 100%);
  }
  .desktop122-text {
    top: 103px;
    left: 29px;
    color: rgba(255, 255, 255, 1);
    width: 288px;
    height: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop122-text1 {
    top: 154px;
    left: 18px;
    color: rgba(255, 255, 255, 1);
    width: 403px;
    height: auto;
    position: absolute;
    font-size: 19px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 400px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .desktop122-svg {
    top: 29px;
    left: 29px;
    width: 62;
    height: 58;
    position: absolute;
  }
  .desktop122-svg1 {
    top: 265px;
    left: 18px;
    width: 62;
    height: 56;
    position: absolute;
  }
  .desktop122-svg2 {
    top: 265px;
    left: 101px;
    width: 62;
    height: 56;
    position: absolute;
  }
  .desktop122-svg3 {
    top: 265px;
    left: 189px;
    width: 62;
    height: 56;
    position: absolute;
  }
  .desktop122-svg4 {
    top: 265px;
    left: 277px;
    width: 62;
    height: 56;
    position: absolute;
  }
  .desktop122-svg5 {
    top: 265px;
    left: 365px;
    width: 62;
    height: 56;
    position: absolute;
  }
  .desktop122-image1 {
    top: 50px;
    left: 52px;
    width: 17px;
    height: 16px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
.submitButton{
    position: absolute;
    bottom: 8%;
    right: 72px;
    width: 69%;
    height: 6vh;
    border-radius: 21px;
    background-color: #fc7614;
}
.submitButton:hover{
    cursor: pointer;
    background-color: white;
}
.numberTag{
    color: #8f8f8f;
    left: 40.5px;
}

.imgCurser:hover{
    cursor: pointer;
    background-color: yellow;
    color: white;
}

.imgCurser{
    background-color: rgb(79, 78, 78);
    width: 48px;
    height: 41px;
    border-radius: 61px;
    text-align-last: center;
    color: #8f8f8f;
}
@media(max-width: 991px) {
  .desktop122-main-container212 {
    top: 257px;
    left: 268px;
    width: 458px;
    height: 440px;
  }
}
@media(max-width: 767px) {
  .desktop122-main-container212 {
    top: 227px;
    left: 128px;
    height: 660px;
  }
  .desktop122-image {
    left: -3px;
    bottom: 0px;
    height: 656px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .desktop122-svg1 {
    top: 453px;
    left: 15px;
  }
  .desktop122-svg2 {
    top: 451px;
    left: 97px;
  }
  .desktop122-svg3 {
    top: 451px;
    left: 183px;
  }
  .desktop122-svg4 {
    top: 449px;
    left: 269px;
  }
  .desktop122-svg5 {
    top: 450px;
    right: 42px;
  }
}
@media(max-width: 479px) {
  .desktop122-main-container212 {
    top: 230px;
    left: 16px;
  }
}